<!--<div style="height: 400">
    <nvd3-discrete-bar-chart data="exampleData" width="800" height="600" tooltips="true" showXAxis="true" showYAxis="true" showValues="true">
        <svg></svg>
    </nvd3-discrete-bar-chart>
</div>-->


<!--<div ng-controller="ModalInstanceCtrl">

</div>-->

<div style="background:  white">

    <div style="background:  white" class="modal-header"></div>
    <div class="modal-body">
        <modalmatric>
            <div id="container"></div>
            <div id="sliders">

                <div style="color:  black" class="row">
               
               <div class="col-sm-4">
                        Alpha Angle
                       <input id="alpha" type="range" min="0" max="45" value="15" /> 
               </div>
                      <div class="col-sm-4">
                       Beta Angle
                     <input id="beta" type="range" min="-45" max="45" value="15" /> </div>
                    
                      <div class="col-sm-4">
                      Depth
                       <input id="depth" type="range" min="20" max="100" value="50" /> </div>
                </div>
            </div>
        </modalmatric>
    </div>
    <div style="background:  white" class="modal-footer">
        
    </div>

</div>