<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p>This mail is to inform you that In<span style="color:red"> <strong>{{appname}} </strong></span> APP <span style="color:red"> <strong>{{suitename}} </strong></span> testsuite failed to execute</p>
<table>
<tr>
    <td>URL</td>
    <td>ERROR</td>
</tr>
<% for(var i=0; i < error.length; i++) { %>
   <tr>
     <td><%= data[i].id %></td>
     <td><%= data[i].name %></td>
   </tr>
<% } %>
</table>

</body>
</html>