<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p>This mail is to inform you that In<span style="color:red"> <strong>APP NAME </strong></span> APP <span style="color:red"> <strong>Test_Suite Name </strong></span> testsuite is failed to execute</p>
<p><a href="#">Click here</a> to see the details.</p>
</body>
</html>