<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p>Dear Customer,</p>
<p>
You have received this communication in response to your request for your password change. </p>
<p>Your OTP is: <span style="color:red"> <strong>{{otp}} </strong></span> </p>
</body>
</html>