<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #container,
        #sliders {
            min-width: 310px;
            max-width: 800px;
            margin: 0 auto;
        }

        #container {
            height: 400px;
        }
    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>

   <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>






    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <!--  <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>-->

    <script src="../scripts/angular.js"></script>
    <script src="../scripts/app.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="../scripts/settings.js"></script>
    <script src="../scripts/d3.js"></script>
    <link rel="stylesheet" href="../library/bootstrap/dist/css/bootstrap.min.css">
    <script src="../library/@uirouter/angularjs/release/angular-ui-router.js"></script>
    <script src="../scripts/angularjs-nvd3-directives.js"></script>
    <script src="../scripts/nv.d3.js"></script>
    <link rel="stylesheet" href="../styles/nv.d3.css" />
    <script src="../scripts/routing.js"></script>
    <script src="../scripts/overview.js"></script>
    <script src="../scripts/testSuite.js"></script>
    <script src="../library/jquery/dist/jquery.min.js"></script>
    <script src="../library/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../library/font-awesome/css/font-awesome.min.css">

    <script src="../scripts/angular-cron-jobs.js"></script>
    <link rel="stylesheet" href="../styles/angular-cron-jobs.less" />
    <link rel="stylesheet" href="../styles/angular-cron-jobs.css" />
    <!-- <link rel="stylesheet" href="../library/bootstrap/dist/css/bootstrap-theme-superhero.min.css">-->
</head>

<body ng-app='microTester' ng-controller="OverviewController" ng-init="getUser()">


    <!-- Base DIV -->
    <div>

        <div class="container-fluid">
            <div class="page-header">
                <h1>
                    <small>{{appData.title}}</small>
                    <small class="pull-right"><div class="dropdown">
                        <span class="dropdown-toggle" data-toggle="dropdown">Logged In as {{name}}
                        <span class="caret"></span></span>
                         <ul class="dropdown-menu">
                             <li ng-click="logout()"><a href="#">Logout</a></li>
                            <li ng-click="gotoHome()"><a href="#">go to home</a></li>
                        </ul>
    </div></small>
                </h1>
            </div>
        </div>

        <div>
            <div style="float:left; width: 10%">
                <div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-folder-close">
                            </span> &nbsp<a data-parent="#accordion" ui-sref="overview">Overview</a>
                                </h4>
                            </div>

                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-th"></span>&nbsp
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Test Suite</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a ui-sref="testClient({suite:{},requests:[]})">Create New Test Suite</a>                                                <span class="label label-success"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a ui-sref="existingTestSuite">View Test Suite</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Account</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="#" data-toggle="modal" data-target="#login">Change Password</a>
                                            </td>
                                        </tr>
                                        <!--    <tr>
                                            <td>
                                                <a href="#">Notifications</a> <span class="label label-info">5</span>
                                            </td>
                                        </tr>-->
                                        <tr>
                                            <td>
                                                <a ui-sref="applicationSettings">Application Settings</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a ui-sref="testSuiteSettings">Test Suite Settings</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-trash text-danger"></span><a href="#" ng-click="deleteApp()"
                                                    class="text-danger">
                                            Delete Application</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-file"> </span>&nbsp
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Reports</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-usd"></span><a href="#">Sales</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-user"></span><a href="#">Customers</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-tasks"></span><a href="#">Products</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-shopping-cart"></span><a href="#">Shopping Cart</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="float:left; width: 90%" ui-view>

            </div>
        </div>





    </div>
    <!-- Ending Of Base  DIV -->
    <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br>
                    <h3>Change Password</h3>
                </div>

                <div class="modal-body">

                    <form name='changePassForm'>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input ng-model="user.old" type="password" class="form-control" placeholder="Enter old Password">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input ng-model="user.new" type="password" class="form-control" placeholder="Enter new password">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input ng-model="user.cnew" type="password" class="form-control" placeholder="Enter new confirmation password">
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <input type="button" class="btn btn-primary btn-block btn-primary btn-md" data-dismiss="modal" ng-click="changePwd()" value="Change password">
                            </div>
                            <div class="col-sm-4">
                                <input type="reset" class="btn btn-primary btn-block btn-primary btn-md" value="Reset">

                            </div>
                            <div class="col-sm-2"></div>




                        </div>
                    </form>
                </div>
            </div>
            <!-- end of Modal Content -->
        </div>
    </div>

</body>

</html>