
<div class="row">
   <div class="col-sm-4"></div>
        <div class="col-sm-4">
                        <h3><i>Application Settings</i></h3>
                    </div>
</div>

 <div class="container">

                <div class="row">
                    <!-- <div class="col-sm-10"></div>-->
                    <br>
                    <div class=" col-sm-2">
                        <input type="button" ng-click="appEdit()" value="{{!data ? 'EDIT' : 'SAVE'}}" class="btn btn-primary btn-block" />
                    </div>
                  
                </div>

                <form>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                        <input id="appName" type="text" class="form-control" name="App.appName" ng-model="appData.title" ng-readonly="read"/>
                    </div>
                    <br>
                    <textarea name="App.description" class="form-control" rows="5" id="comment" ng-model="appData.appDesc" ng-readonly="read"></textarea>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-superpowers"></i></span>
                        <input id="appVersion" type="text" class="form-control" name="App.version" ng-model="appData.appVer" ng-readonly="read">
                    </div>
                    <br>
                    <div>
                        <div class="row">

                            <div class="col-sm-3">
                                <span class="input-group-addon"><i class="fa fa-id-badge"></i></span>
                                <input id="appClinetID" type="text" class="form-control" name="App.clientId" ng-model="appData.clientId" ng-readonly="read">
                            </div>

                            <div class="col-sm-3">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input id="password" type="password" class="form-control" name="password" ng-model="appData.clientSecret" ng-readonly="read">
                            </div>



                            <div class="col-sm-3">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                                <input id="appGrantType" type="text" class="form-control" name="App.grantType" ng-model="appData.grantType" ng-readonly="read">
                            </div>

                            <div class="col-sm-3">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input id="appScope" type="text" class="form-control" name="App.scope" ng-model="appData.scope" ng-readonly="read">
                            </div>

                        </div>

                    </div>
                    <br>

                </form>

            </div>