     <div>
                        <!-- #############################  CARD  ############################ -->
                        <div ng-hide='apps.length!=0'>


                            <div class="container">
                                <div class="jumbotron">
                                    <h1>No Application Found</h1>
                                    <p>Click on "ADD APPLICATION" to add a new Application in DASHBOARD.</p>
                                </div>
                                <p>Micro Testing Tool</p>

                            </div>

                        </div>
                        <div ng-repeat="data in apps">



                            <div class="col-sm-3">
                                <div ng-click="show(data)" class="offer offer-radius offer-primary">
                                    <div class="shape">
                                        <div class="shape-text">
                                            {{data.appVer}}
                                        </div>
                                    </div>
                                    <div class="offer-content">
                                        <h3 class="lead">
                                            {{data.title}}
                                        </h3>
                                        <p>
                                            {{data.appDesc}}
                                            <br> more..
                                        </p>
                                    </div>
                                </div>
                                <!--<div>
                    <div ng-click="show(data)" class="panel panel-default">
                        <div class="panel-heading">{{data.title}}</div>
                        <div class="panel-body">{{data.appDesc}}</div>
                        <div class="panel-footer">{{data.appVer}}</div>
                    </div>
                </div>-->
                            </div>

                        </div>
                        <!-- ############################################################## -->
                    </div>