<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="./scripts/script.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<div class="container">
  <div class="jumbotron text-center">
    <h1>Test Tool</h1> 
    <div class="btn-group">  
    <button class="btn btn-success" ng-click="login()" >Login</button>
    <button class="btn btn-info" ng-click="register()">Register</button>
    </div>
  </div>
  <div ng-if="registerStatus" class="bg-info">
       
             <h3 class="col-sm-offset-3 col-sm-10"><span class="glyphicon glyphicon-user text-info"></span>Register User</h3>
       <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-offset-3 col-sm-2" for="email">Email:</label>
      <div class="col-sm-4">
       <input type="email" class="form-control " name="email" ng-keydown="emailCheck()" ng-model="usrDetails.email"/>
       <span ng-if="alertMsg" class="col-sm-offset-4 col-sm-4 alert alert-warning">already exist</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-offset-3 col-sm-2" for="username">Name:</label>
      <div class="col-sm-4">          
        <input type="text" class="form-control" name="username" ng-model="usrDetails.username"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-offset-3 col-sm-2" for="empId">Employee ID:</label>
      <div class="col-sm-4">          
       <input type="text" class="form-control" name="empId" ng-model="usrDetails.empId"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-offset-3 col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-4">          
       <input type="text" class="form-control" name="pwd" ng-model="usrDetails.pwd"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-offset-3 col-sm-2" for="cpwd">Confirm Password:</label>
      <div class="col-sm-4">          
       <input type="text" class="form-control" name="cpwd" ng-model="usrDetails.cpwd"/>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-5 col-sm-10">
        <button class="btn btn-info" ng-click="registerUser()">Register</button>
        <input type="reset" class="btn btn-info" value="Reset" />
      </div>
    </div>
  </form>

      </div>  
      <div ng-if="loginStatus">

          </div>    
</div>

</body>
</html>