<html>

<head>



  <style>
    body {
      background-image: url("../images/apiBack1.jpg");
      height: 100%;
      width: 100%;

      /* Center and scale the image nicely */
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>


  <title>Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../library/angular/angular.min.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
  <script src="../scripts/app.js"></script>
  <script src="../scripts/login-Register.js"></script>
  <link rel="stylesheet" href="../styles/style.css">
  <script src="../library/@uirouter/angularjs/release/angular-ui-router.js"></script>
  <script src="../scripts/angular-cron-jobs.js"></script>
  <link rel="stylesheet" href="../styles/angular-cron-jobs.less" />
  <link rel="stylesheet" href="../styles/angular-cron-jobs.css" />
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->

  <link rel="stylesheet" href="../library/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="../theme/bootstrap-theme-yeti.min.css">-->
  <link rel="shortcut icon" href="">
  <script src="../library/jquery/dist/jquery.min.js"></script>
  <script src="../library/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../library/font-awesome/css/font-awesome.min.css">

</head>

<body ng-app="microTester">

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="container">

    <div class="row">

      <div class="col-sm-4 col-sm-offset-4 ">
        <b> <h1 style = " color: #0f2e39;font-family:'Times New Roman', Georgia, Serif;">
          &nbsp Micro Tester Tool</h1></b>
        <p>!!! Tool which help to test your API performance !!!</p>
      </div>

    </div>

    <div>
    </div>

    <div class="col-sm-4 col-sm-offset-4">
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <div class="btn-group">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#login">Login</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register">Register</button>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="register" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <br>
            <h3> <span class="glyphicon glyphicon-user"></span> Register User</h3>
          </div>

          <div ng-controller="RegisterController" class="modal-body">

            <form name='registerForm'>



              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                <div>
                <input id="fname" title="First Name Should Have Min 2 Characters"  ng-pattern="/^[a-zA-Z]+$/" ng-minlength="2" style="width: 50%" ng-model="newUser.first" type="text" class="form-control" name="first"
                  placeholder="Enter Your First Name" required>
        
                </div>

              <div>
                <input id="lname" title="Last Name Should Have Min 3 Characters" ng-pattern="/^[a-zA-Z]+$/" ng-minlength="3" style="width: 50%" ng-model="newUser.last" type="text" class="form-control" name="last" placeholder="Enter Your Last Name"
                  required>
                   <span ng-show="registerForm.first.$valid && registerForm.last.$valid" class="glyphicon glyphicon-ok form-control-feedback text-success"></span>
                  <span ng-show="registerForm.first.$invalid && registerForm.first.$touched || registerForm.last.$invalid && registerForm.last.$touched" class="glyphicon glyphicon-remove  form-control-feedback text-danger"></span>
              </div>

              </div>


              <br>


              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="email" ng-minlength="12" title="Email should contain atleast 12 characters" ng-model="newUser.email" type="email" class="form-control" name="email" placeholder="Enter Your Email" required>
                <span ng-show="registerForm.email.$valid  && registerForm.email.$touched" class="glyphicon glyphicon-ok form-control-feedback text-success"></span>
                <span ng-show="registerForm.email.$invalid && registerForm.email.$touched" class="glyphicon glyphicon-remove  form-control-feedback text-danger"></span>
              </div>
              <br>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-sort-by-order"></i></span>
                <input id="empId" ng-pattern="/^[0-9]{5,6}$/" ng-minlength="5" ng-maxlength="6" ng-model="newUser.empId" type="text" class="form-control" name="empId" placeholder="Enter Your Employee Id" required>
               <span ng-show="registerForm.empId.$valid  && registerForm.empId.$touched" class="glyphicon glyphicon-ok form-control-feedback text-success"></span>
                <span ng-show="registerForm.empId.$invalid && registerForm.empId.$touched" class="glyphicon glyphicon-remove  form-control-feedback text-danger"></span>
              </div>
              <br>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <div>
                <input id="pwd" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,20}$/" type="password" title="# must contains one digit from 0-9 
# must contains one lowercase characters
# must contains one special symbols in the list '@#$%' 
# length at least 8 characters and maximum of 20"
                 class="form-control" name="pwd" ng-model="password" placeholder="Enter Your Password" required>
                   <span ng-show="registerForm.pwd.$valid" class="glyphicon glyphicon-ok form-control-feedback text-success"></span>
                <span ng-show="registerForm.pwd.$invalid && registerForm.pwd.$touched" class="glyphicon glyphicon-remove  form-control-feedback text-danger"></span>
                </div>
              </div>
              <br>


              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" ng-keyup="reEnterPassword()" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,20}$/" title="Re-Enter Password"
                 ng-model="newUser.pwd" type="password" class="form-control" name="rePassword" placeholder="Re-Enter Password" required>
                 <span ng-show="confirmPassword" class="glyphicon glyphicon-ok form-control-feedback text-success"></span>
                <span ng-show="!confirmPassword && registerForm.pwd.$touched" class="glyphicon glyphicon-remove  form-control-feedback text-danger"></span>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                  <input type="submit" ng-disabled="registerForm.$invalid && !confirmPassword" class="btn btn-primary btn-block btn-primary btn-md" data-dismiss="modal" ng-click="registerUser()"
                    value="Register">
                </div>

                <div class="col-sm-3">
                  <input type="reset" class="btn btn-primary btn-block btn-primary btn-md" value="Reset">
                </div>
                <div class="col-sm-3"></div>
              </div>
              <!--   <div>

                <input type="button" class="btn btn-primary btn-block btn-primary btn-md" data-dismiss="modal" ng-click="registerUser()"
                  value="Register">
                <input type="reset" class="btn btn-primary btn-block btn-primary btn-md" value="Reset">
              </div>-->
            </form>



          </div>
        </div>
        <!-- end of Modal Content -->

      </div>
    </div>
    <div class="modal fade" id="login" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <br>
            <h3>Login</h3>
          </div>

          <div ng-controller="LoginController" class="modal-body">

            <form name='loginForm'>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <div>
                  <input id="username" title="Email should contain atleast 12 characters" ng-model="user.email" type="text" class="form-control"
                    name="username" placeholder="email" ng-minlength="12" required>
                  <span ng-show="loginForm.username.$valid" class="glyphicon glyphicon-ok form-control-feedback text-success"></span>
                  <span ng-show="loginForm.username.$invalid && loginForm.username.$touched" class="glyphicon glyphicon-remove  form-control-feedback text-danger"></span>
                </div>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <div>
                <input id="password" title="# must contains one digit from 0-9 
# must contains one lowercase characters
# must contains one special symbols in the list '@#$%' 
# length at least 8 characters and maximum of 20" ng-model="user.pwd" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,20}$/"
                  type="password" class="form-control" name="password" placeholder="Password">
                <span ng-show="loginForm.password.$valid  && loginForm.password.$touched" class="glyphicon glyphicon-ok form-control-feedback text-success"></span>
                <span ng-show="loginForm.password.$invalid && loginForm.password.$touched" class="glyphicon glyphicon-remove  form-control-feedback text-danger"></span>
                </div>
              </div>
              <br>
              <div>

                <input type="button" ng-click="login()" class="btn btn-primary btn-block btn-primary btn-md" data-dismiss="modal" ng-disabled="loginForm.$invalid" value="Login">

              </div>
            </form>
          </div>
        </div>
        <!-- end of Modal Content -->
      </div>
    </div>
  </div>
  <div ng-controller="scheduleController" ng-init="schedule()">

  </div>

</body>

</html>