<!--<div style="height: 400">
    <nvd3-discrete-bar-chart data="exampleData" width="800" height="600" tooltips="true" showXAxis="true" showYAxis="true" showValues="true">
        <svg></svg>
    </nvd3-discrete-bar-chart>
</div>-->


<!--<div ng-controller="ModalInstanceCtrl">

</div>-->

<div>

    <div class="modal-header"></div>
    <div class="modal-body">
        <modalmatric>
            <div id="container"></div>
            <div id="sliders">
                <table>
                    <tr>
                        <td>Alpha Angle</td>
                        <td><input id="alpha" type="range" min="0" max="45" value="15" /> </td>
                    
                    
                        <td> Beta Angle</td>
                        <td><input id="beta" type="range" min="-45" max="45" value="15" /> </td>
                    
                    
                        <td> Depth</td>
                        <td><input id="depth" type="range" min="20" max="100" value="50" /> </td>
                    </tr>
                </table>
            </div>
        </modalmatric>
    </div>
    <div class="modal-footer">
        
    </div>

</div>