<div class="container">
    <div class="jumbotron">
        <h1>OVERVIEW</h1>
        <table class="table">
    <tbody> 
      <tr class="success">
        <td>App Name:</td>
        <td>{{appData.title}}</td>
      </tr>
      <tr class="danger">
        <td>App Description:</td>
        <td>{{appData.appDesc}}</td>
      </tr>
      <tr class="info">
        <td>App Version:</td>
        <td>{{appData.appVer}}</td>
      </tr>
      <tr class="warning">
        <td>Grant Type:</td>
        <td>{{appData.grantType}}</td>
      </tr>
      <tr class="active">
        <td>Scope:</td>
        <td>{{appData.scope}}</td>
      </tr>
    </tbody>
  </table>
       
    </div>
    <p>Micro Testing Tool</p>

</div>