




<div class="container">
    <!--<div class="jumbotron">
        <h1>Reports</h1>
        <p>Click on "ADD APPLICATION" to add a new Application in DASHBOARD.</p>
    </div>
    <p>Micro Testing Tool</p>-->
     

<div ng-controller="TestSuiteSettingsController" ng-init="getTestSuite()">
    
    <div ng-repeat="testcase in suites track by testcase._id">
       <div style="width: 200px" class="col-sm-3">
        <report-pie-chart id="testcase._id" test-suite-pie="{{testcase}}" component-style="{{divCss}}" >
</div>
          


        </report-pie-chart>
    </div>
</div>
