<div class="container">

    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#app">Applicaton</a></li>
            <li><a data-toggle="tab" href="#testsiute">Test Suite</a></li>

        </ul>
    </div>


    <div class="tab-content">

        <div id="app" class="tab-pane fade in active">

            <br>

            <div>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Email Configuration</legend>
                    <div class="control-group">

                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-1 input-group">
                                <span class="input-group-addon">To</span>
                                <input type="email" ng-model="appData.to" class="form-control" ng-readonly="read">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-1 input-group">
                                <span class="input-group-addon">CC</span>
                                <input type="email"  ng-model="appData.cc" class="form-control" ng-readonly="read">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-1 input-group">
                                <span class="input-group-addon">BCC</span>
                                <input type="email"  ng-model="appData.bcc" class="form-control" ng-readonly="read">
                            </div>
                        </div>

                    </div>
                </fieldset>


                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Schedule Cron</legend>
                    <div class="control-group">

                        <div class="row">
                            <div class="container" >

                                <cron-selection  ng-model="appData.frequency" class="select-inline" ng-readonly="read"></cron-selection>
                                {{appData.frequency}}
                            </div>
                        </div>

                    </div>
                </fieldset>



                <div class="col-ms-4  col-sm-offset-8">
                    <div class="container">
                        <input type="button" ng-click="appConfig()" value="{{!data ? 'EDIT' : 'SAVE'}}" class="btn btn-primary">
                    </div>
                </div>





            </div>




        </div>

        <!-- ############################################################ -->

        <div id="testsiute" ng-controller="formController" class="tab-pane fade" ng-init="getTestSuite()">
            <br>

            <div class="row">

                <div class="col-md-2">
                    <label> Test Suites :</label>
                    <select   ng-model="suite" ng-change="hideConfiguration()" ng-options="x.suiteName for x in suites" class="form-control">
                    </select>
                </div>

                <div class="col-md-2">
                    <label> <br></label>
                    <input type="button" ng-click="showConfiguration()" value="Configure Test Suite" class="btn btn-primary btn-block" />
                </div>

            </div>
            <br>

            <div class="row" ng-show="showTestSuiteConfiguration">

             <fieldset class="scheduler-border">
                <legend class="scheduler-border">Email Configuration</legend>
                <div class="control-group">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1 input-group">
                            <span class="input-group-addon">To</span>
                            <input type="email" ng-model="testsuite.to" class="form-control" ng-readonly="read">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1 input-group">
                            <span class="input-group-addon">CC</span>
                            <input type="email" ng-model="testsuite.cc" class="form-control" ng-readonly="read">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-1 input-group">
                            <span class="input-group-addon">BCC</span>
                            <input type="email" ng-model="testsuite.bcc" class="form-control" ng-readonly="read">
                        </div>
                    </div>

                </div>
            </fieldset>


            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Schedule Cron</legend>
                <div class="control-group">

                    <div class="row">
                        <div class="container">

                            <cron-selection ng-model="testsuite.frequency" class="select-inline" ng-readonly="read"></cron-selection>
                            {{testsuite.frequency}}
                        </div>
                    </div>

                </div>
            </fieldset>



            <div class="col-ms-4  col-sm-offset-8">
                <div class="container">
                    <input type="button" ng-click="suiteConfig()" value="{{!data ? 'EDIT' : 'SAVE'}}" class="btn btn-primary">
                </div>
            </div>

            </div>




        </div>

    </div>




</div>





















